.edit-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
}

.edit-comment-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    height: 375px;
    margin-top: 15px;
    padding: 20px 15px;
}

.edit-comment-content {
    display: flex;
    flex-direction: column;
    justify-content: left;

    margin-bottom: 15px;
}

#old-comment {
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.edit-comment-content button {
    height: 35px;
    width: 100%;
    margin-top: 10px;

    background-color: rgb(5, 150, 105);
    border: none;
    border-radius: 3px;
    color:white;
    font-size: 14px;
    cursor: pointer;
}

.edit-comment-content label {
    font-size: 14px;
    margin-right: 10px;
    margin-top: 7px;
}

.edit-comment-content textarea {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    resize: none;
}

.edit-comment-content textarea::placeholder {
    font-size: 14px;
}